@media  (min-width: 375px) {
    


    *{
        margin: 0;
        padding: 0;
        box-sizing: border-box;  
    }
    
    header{
        display: flex;
        justify-content: center;
        flex-wrap: wrap;
        position: sticky;
        /* Stick the navbar to the top of the viewport */
        top: 0;
        background-color: black;
        color: white;
        /* Set a high z-index to ensure it's on top of other elements */
        z-index: 1000; 
        
    }
    
    h1{
        margin: 30px auto;
        display: flex;
        justify-content: center;
        align-items: center;
        font-size: 40px;
        font-family: sans-serif;
    }
    
    #logo{
        height: 50px;
        width: auto;
    }
    
    nav{
        display: flex;
        justify-content: center;
        flex-wrap: wrap;
        position: sticky;
    }
    
    .navs{
        margin: 30px;
        font-size: 25px;
        font-family: 'Mochiy Pop One', sans-serif;
        text-decoration: none;
        align-items: flex-start;
        align-content: center;
        
    }
    
    .navs:hover{
        transform: scale(1.2);
    }
    
    #services{
        color: #6f6fc7;
    }

    main {
        padding: 20px;
    }
    
    h2 {
        color: #333;
        text-align: center;
    }
    
    section {
        background-color: #fff;
        border-radius: 10px;
        box-shadow: 0 4px 8px rgba(0, 0, 0, 0.1);
        margin-bottom: 20px;
        padding: 20px;
    }
    
    h3 {
        color: #333;
    }
    
    p {
        color: #555;
        
    }

    section:hover{
        background: #776c6ca1;
    }
}

@media (max-width: 374px) {
   
    *{
        margin: 0;
        padding: 0;
        box-sizing: border-box;  
    }
    
    header{
        display: flex;
        justify-content: center;
        flex-wrap: wrap;
        position: sticky;
        /* Stick the navbar to the top of the viewport */
        top: 0;
        background-color: black;
        color: white;
        /* Set a high z-index to ensure it's on top of other elements */
        z-index: 1000; 
        
    }
    
    h1{
        margin: 3px auto;
        display: flex;
        justify-content: center;
        align-items: center;
        font-size: 10px;
        font-family: sans-serif;
    }
    
    #logo{
        height: 50px;
        width: auto;
    }
    
    nav{
        display: flex;
        justify-content: center;
        flex-wrap: wrap;
        position: sticky;
    }
    
    .navs{
        margin: 10px;
        font-size: 10px;
        font-family: 'Mochiy Pop One', sans-serif;
        text-decoration: none;
        align-items: flex-start;
        align-content: center;
        
    }
    
    .navs:hover{
        transform: scale(1.2);
    }
    
    #about{
        color: #6f6fc7;
    }

    main {
        padding: 20px;
    }
    
    h2 {
        color: #333;
        text-align: center;
    }
    
    section {
        background-color: #fff;
        border-radius: 10px;
        box-shadow: 0 4px 8px rgba(0, 0, 0, 0.1);
        margin-bottom: 20px;
        padding: 20px;
    }
    
    h3 {
        color: #333;
    }
    
    p {
        color: #555;
        
    }
        
    }