@media  (min-width: 375px) {
    


*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;  
}

header{
    display: flex;
    justify-content: center;
    flex-wrap: wrap;
    position: sticky;
    /* Stick the navbar to the top of the viewport */
    top: 0;
    background-color: black;
    color: white;
    /* Set a high z-index to ensure it's on top of other elements */
    z-index: 1000; 
    
}

h1{
    margin: 30px auto;
    display: flex;
    justify-content: center;
    align-items: center;
    font-size: 40px;
    font-family: sans-serif;
}

#logo{
    height: 50px;
    width: auto;
}

nav{
    display: flex;
    justify-content: center;
    flex-wrap: wrap;
    position: sticky;
}

.navs{
    margin: 30px;
    font-size: 25px;
    font-family: 'Mochiy Pop One', sans-serif;
    text-decoration: none;
    align-items: flex-start;
    align-content: center;
    
}

.navs:hover{
    transform: scale(1.2);
}

#home{
    color: #6f6fc7;
}


main {
    height: 100vh;
    padding: 2px;
    background-color: #6f6fc7;
    background: url(23399.jpeg) center/cover ;
    display: flex;
    justify-content: center;
}


.formm{
    margin:  30px auto;
    display: flex;
    justify-content: center;
    height: 400px;
}


form{
    padding: 30px;
    height: 100%;
    border: 1px solid black;
    border-radius: 30px;
    background-color: rgba(64, 147, 199, 0.61);
}


#inn{
    margin: 5px;
    padding: 5px;
    font-family: 'Courier New', Courier, monospace;
}


button{
    margin: 20px;
}


h2{
    font-style: italic;
}

footer{
    /* margin: 20px; */
    padding: 30px;
    background-color: rgba(0, 60, 97, 0.77);
}

}


@media (max-width: 374px) {
   
*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;  
}

header{
    display: flex;
    justify-content: center;
    flex-wrap: wrap;
    position: sticky;
    /* Stick the navbar to the top of the viewport */
    top: 0;
    background-color: black;
    color: white;
    /* Set a high z-index to ensure it's on top of other elements */
    z-index: 1000; 
    
}

h1{
    margin: 3px auto;
    display: flex;
    justify-content: center;
    align-items: center;
    font-size: 10px;
    font-family: sans-serif;
}

#logo{
    height: 50px;
    width: auto;
}

nav{
    display: flex;
    justify-content: center;
    flex-wrap: wrap;
    position: sticky;
}

.navs{
    margin: 10px;
    font-size: 10px;
    font-family: 'Mochiy Pop One', sans-serif;
    text-decoration: none;
    align-items: flex-start;
    align-content: center;
    
}

#home{
    color: #6f6fc7;
}
    

    

main {
    height: 100vh;
    padding: 2px;
    background-color: #6f6fc7;
    background: url(23399.jpeg) center/cover ;
    display: flex;
    justify-content: center;
}


.formm{
    margin:  10px auto;
    display: flex;
    justify-content: center;
    height: 400px;
}


form{
    padding: 30px;
    height: 100%;
    border: 1px solid black;
    border-radius: 30px;
    background-color: rgba(64, 147, 199, 0.61);
    font-size: 15px;
}


#inn{
    margin: 5px;
    padding: 5px;
    font-family: 'Courier New', Courier, monospace;
}


button{
    margin: 20px;
}


h2{
    font-style: italic;
}

footer{
    padding: 30px;
    background-color: rgba(0, 60, 97, 0.77);
    font-size: 15px;
}
    
}